.outer {
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative;
}

.inner {
    position: absolute;
    width: 100px;
    height: 100px;
    left:0;
    right: 0;
    top:0;
    bottom: 0;
    margin: auto;
    background-color: #fcc;
}

body {
    margin: 0;
}