.blue {
    background-color: blue;
    height: 100px;
}

.green {
    background-color: green;
    height: 100px;
}
.red{
    background-color: red;
}

body, html {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
}
