.outer {
    width: 200px;
    height: 200px;
    background-color: red;
    display: flex;
}

.outer:before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    height: 100%;
}

.inner {
    width: 100px;
    height: 100px;
    margin: auto;
    background-color: #fcc;
}

body {
    margin: 0;
}